<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src = "https://code.highcharts.com/highcharts.js"></script>
</head>
<body>

<div id="container" style="height: 500px"></div>

<script id="chartconfig">
var chartConfig={
    chart: {
         zoomType: 'x'
         },
    title: {
        text: 'Average price and availability'
        },
    xAxis: {
        type: 'datetime'
    },
    yAxis: [{ // Primary yAxis
        title: {
            text: 'Avg price',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        labels: {
            format: '{value} €',
            style: {
                color: '#c4392d',
            }
        }
    }, { // Secondary yAxis
        title: {
            text: 'Number of ads',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        labels: {
            format: '{value} ',
            style: {
                color: '#5679c4'
            }
        },
        opposite: true
    }],
    legend: {
        enabled: false
    },
    plotOptions: {
        areaspline: {
            fillColor: {
                linearGradient: {
                    x1: 0,
                    y1: 0,
                    x2: 0,
                    y2: 1
                },
                stops: [
                    [0, Highcharts.getOptions().colors[0]],
                    [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                ]
            }
        },
        series: {
            marker: {
                enabled: false
            }
        }
    },
    tooltip: {
        shared: true
    },
    series: [{
        name: 'Avg price',
        type: 'spline',
        lineWidth: 2,
        color: '#c4392d',
        tooltip: {
            valueSuffix: ' €'
        }
        }, {
        name: 'Number of ads',
        type: 'areaspline',
        yAxis: 1,
        color: '#5679c4',
        fillOpacity: 0.5
    }]
};
</script>
<script id="chartData">
//var series0Data={data: [4,5,1,11,7,6,8,4,6]};
//var series1Data={data: [18,80,44,43,62,71,91,12,19]};
var series0Data={data: [
[Date.UTC(2020, 0, 1), 4],
[Date.UTC(2020, 0, 2), 5],
[Date.UTC(2020, 0, 3), 1],
[Date.UTC(2020, 0, 4), 11],
[Date.UTC(2020, 0, 5), 7],
[Date.UTC(2020, 0, 6), 6],
[Date.UTC(2020, 0, 7), 8],
[Date.UTC(2020, 0, 8), 4],
[Date.UTC(2020, 0, 9), 6]
]}; var series1Data={data: [
[Date.UTC(2020, 0, 1), 18],
[Date.UTC(2020, 0, 2), 80],
[Date.UTC(2020, 0, 3), 44],
[Date.UTC(2020, 0, 4), 43],
[Date.UTC(2020, 0, 5), 62],
[Date.UTC(2020, 0, 6), 71],
[Date.UTC(2020, 0, 7), 91],
[Date.UTC(2020, 0, 8), 12],
[Date.UTC(2020, 0, 9), 19]
]};

</script>
<script>
var chart = new Highcharts.Chart('container', chartConfig);
chart.series[0].update(series0Data);
chart.series[1].update(series1Data);
</script>

<button type="button" onclick="updateChart()">Change Content</button>

<script>
function updateChart() {
  var xhttp = new XMLHttpRequest();
  console.log("data requested");
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      //document.getElementById("chartData").innerHTML = JSON.stringify(this.responseText).slice(1,-1);
      eval(JSON.stringify(this.responseText).slice(1,-1));
      chart.series[0].update(series0UpdData);
      chart.series[1].update(series1UpdData);
      chart.update;

    }
  };
  xhttp.open("GET", "priceads", true);
  xhttp.send();
}
</script>
</body>
</html>